:root {
  --fs-primary: 'Kanit', sans-serif;;
  --fs-clr-primary: #0B192B;
  --fs-clr-secondary: #F0F1F1;
  --body-primary: #223440;
  --body-secondary: #F0F1F1;
  --header-primary: #F0F1F1;
}

.body {
  height: 100vh;
  background-color: var(--body-primary);
}

.primary-header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0rem 2rem;
  background-color: var(--header-primary);
}

.primary-header--text {
  font-size: 2.5rem;
  letter-spacing: .0625ch;
  font-family: var(--fs-primary);
  color: var(--fs-clr-primary);
}

/* Starship List Page */

.starship-list {
  display: flex;
  flex-direction: column;

  height: 90%;
  width: 100%;
  padding: 0rem 2rem;
  background-color: var(--body-secondary);
  font-family: var(--fs-primary);
  color: var(--fs-clr-primary);
}

.starship-list--divider {
  height: 4px;
  background-color: var(--body-primary);
}

.starship-list--title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.starship-list--table {
  width: 100%;
}

.thead-row > td {
  border-bottom: 1px solid var(--body-primary);
}

/* Starship Details Page */

.starship-details {
  display: flex;
  flex-direction: column;

  height: 90%;
  width: 100%;
  padding: 0rem 2rem;
  background-color: var(--body-secondary);
  font-family: var(--fs-primary);
  color: var(--fs-clr-primary);
}

.starship-details--divider {
  height: 4px;
  background-color: var(--body-primary);
}

.starship-details--title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}
